$black: black;
$white: white;

:host {
    padding: 1rem;
    background: $black;
    color: $white;
    display: flex;
}

.footer {
    &__actions {
        margin-left: auto;
    }

    &__action {
        color: $white;
        margin: 0 .5rem;
        transition: transform .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

        svg:hover {
            transform: rotate(90deg);
        }
    }
}