@import "./utils";
@import "./variables";

:host {
    @include modal;
}

.content {
    padding: 1rem;
    border: 1px solid transparentize($white, 0.5);

    &__wrapper {
        flex: 0 1 500px;
    }

    &__header {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__close {
        text-align: right;
    }

    &__closeIcon {
        cursor: pointer;
    }
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    &__input,
    &__submit {
        background: transparent;
        color: $white;
        border: none;
        padding: 0.5rem;
    }

    &__input {
        font-size: 1rem;

        &::placeholder {
            color: $lightgray;
        }
    }

    &__submitWrapper,
    &__socialWrapper {
        display: flex;
        justify-content: center;
    }

    &__submit,
    &__social {
        border: 1px solid transparentize($white, 0.5);
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    &__submit {
        font-size: 1rem;
    }

    &__social {
        display: flex;
        align-items: center;
    }

    &__socialText {
        margin-right: 1rem;
    }
}
