<a class="navbar__logo" routerLink="/">
    {{ appName }}
</a>
<div class="navbar__actions" [ngSwitch]="state">
    <ng-container *ngSwitchCase="'loggedIn'">
        <div class="navbar__label">Hello, {{ displayName }}</div>
        <button class="navbar__action navbar__button" routerLink="/create">
            <fa-icon [icon]="faPlus" size="2x"></fa-icon>
        </button>
        <button class="navbar__action navbar__button" routerLink="/settings">
            <fa-icon [icon]="faCog" size="2x"></fa-icon>
        </button>
        <a
            (click)="signOut()"
            href="/sign-out"
            class="navbar__action navbar__link"
        >
            <span class="navbar__actionText">Sign Out</span>
            <fa-icon [icon]="faSignOutAlt" size="2x"></fa-icon>
        </a>
        <a [routerLink]="profileLink">
            <img class="navbar__image" [src]="avatar" alt="profile image" />
        </a>
    </ng-container>
    <loader *ngSwitchCase="'loading'"></loader>
    <ng-container *ngSwitchCase="'notloggedin'">
        <button class="navbar__action navbar__button" (click)="signIn()">
            <span class="navbar__actionText">Sign In</span>
            <fa-icon [icon]="faSignInAlt" size="2x"></fa-icon>
        </button>
    </ng-container>
</div>
