<div class="user__header">
    <img class="user__avatar" [src]="avatar" alt="avatar"/>
</div>
<div class="user__collection">
    <div class="user__item" *ngFor="let item of collection">
        <div class="user__category">{{item.category}}</div>
        <div class="user__images">
            <card
                (action)="action($event, image)"
                [canDelete]="canDelete"
                [canAdd]="canAdd"
                [background]="image.link"
                *ngFor="let image of item.images">
            </card>
        </div>
    </div>
</div>
<zoom-image-modal [isActive]="isZoomModalActive"></zoom-image-modal>
<add-image-modal [isActive]="isAddModalActive"></add-image-modal>
<report-image-modal [isActive]="isReportModalActive"></report-image-modal>
<share-image-modal [isActive]="isShareModalActive"></share-image-modal>
<remove-image-modal [isActive]="isRemoveModalActive"></remove-image-modal>