//@import 'utils';
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Quicksand:wght@500&display=swap");

$white: white;

html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    color: $white;
}

a,
button {
    color: $white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

app {
    height: 100%;
    display: flex;
    flex-direction: column;
}
