@import './utils';
@import './variables';

:host {
    @include modal;
}


.zoom-image-modal {
    &__header {
        padding: 1rem;
        text-align: right;
    }

    &__close {
        cursor: pointer;
    }

    &__content {
        flex: 0 1 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    &__image {
        flex: 1 1 auto;
    }
}